<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
      point="org.eclipse.ui.views">
      	<view
	      class="com.prakash.refsearchpoc.view.RefSearchView"
	      id="com.prakash.refsearchpoc.view.ExtSearchView"
	      icon="icons/sample.png"
	      name="Search View"
	      restorable="true">
   		</view>
	</extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Demo"
            id="RefSearchPOC.commands.category">
      </category>
      <command
            name="Search"
            categoryId="RefSearchPOC.commands.category"
            id="RefSearchPOC.commands.searchCommand">
      </command>
      <command
            name="Next"
            categoryId="RefSearchPOC.commands.category"
            id="RefSearchPOC.commands.nextCommand">
      </command>
      <command
            name="Back"
            categoryId="RefSearchPOC.commands.category"
            id="RefSearchPOC.commands.backCommand">
      </command>
      <command
            name="Play/Stop"
            categoryId="RefSearchPOC.commands.category"
            id="RefSearchPOC.commands.playstopCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="RefSearchPOC.commands.searchCommand"
            class="com.prakash.refsearchpoc.handlers.RefSearchHandler">
      </handler>
      <handler
            commandId="RefSearchPOC.commands.nextCommand"
            class="com.prakash.refsearchpoc.handlers.RefNextHandler">
      </handler>
      <handler
            commandId="RefSearchPOC.commands.backCommand"
            class="com.prakash.refsearchpoc.handlers.RefBackHandler">
      </handler>
      <handler
            commandId="RefSearchPOC.commands.playstopCommand"
            class="com.prakash.refsearchpoc.handlers.RefPlayStopHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="RefSearchPOC.commands.searchCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="RefSearchPOC.commands.nextCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+4"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="RefSearchPOC.commands.backCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+5"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="RefSearchPOC.commands.playstopCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Demo"
               mnemonic="D"
               id="RefSearchPOC.menus.sampleMenu">
            <command
                  commandId="RefSearchPOC.commands.searchCommand"
                  mnemonic="S"
                  id="RefSearchPOC.menus.demoCommand">
            </command>
            <command
                  commandId="RefSearchPOC.commands.nextCommand"
                  mnemonic="N"
                  id="RefSearchPOC.menus.demoCommand">
            </command>
            <command
                  commandId="RefSearchPOC.commands.backCommand"
                  mnemonic="B"
                  id="RefSearchPOC.menus.demoCommand">
            </command>
            <command
                  commandId="RefSearchPOC.commands.playstopCommand"
                  mnemonic="P"
                  id="RefSearchPOC.menus.demoCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
